<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bull&Bear: Trader Approved!</h1>
    <p>Hi <%= @user.email.split("@")[0] %>,</p>
    <p>Your account is now approved. You can now make your first trade!</p>
    <p></p>
    <p>Regards,</p>
    <p>Bull&Bear</p>

  </body>
</html>